* {
	border:0;
	margin:0;
	padding:0
}

body {
	font-family: courier verdana;
	color: white;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#canvas {
}


#popup {
	border: 0.1em solid white;
	position: absolute;
	background-color: black;
	padding: 0.3em 0.4em;
	display: none;
}

#propertyName {
	border-bottom: 0.1em solid white;
	text-align: center;
	color: red;
	padding-bottom: 0.2em;
	margin-bottom: 0.2em;
	font-weight: bold;
}

#infobar {
	position: absolute;
	right:0%;
	top:0%;
	border-color: white;
	border-width: 0.1em 0.1em 0em 0.1em;
	border-style: solid;
	width: 30em;
	height: 49em;
}

.submenu {
	border-bottom: 0.1em solid red;
	height: 33.2%;
	text-align: center;
}

#randomNumber {
	border: 0.1em solid white;
	width:10%;
	margin: 1em auto;
	padding: 1em;
	font-size: 2em;
}
button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cc9f52;
}

button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
	cursor: hand;
}

button:active {
	background:#fb9e25;
	/*position:relative;*/
	/*top:1px;*/
}