border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

body
	margin-top 30px
	background url('/images/main-bg.jpg')
	background-size 100%


#main-button
	width 200px
	height 75px
	opacity 0.7
	font-size 25px
	border-radius(12px)

.container
	margin-top 40%

