th 
	text-align center;
			
body
	background #FFFFFF
	background-size cover
	background-repeat no-repeat
	counter-reset Serial

.container
	margin-top 7%;

tr td:first-child:before
	counter-increment Serial
	content counter(Serial)

#title-main
	margin-bottom 4%

#loaded-alert
	display none	