div(class = 'game-layer' id='lobby-screen' ng-controller='lobbyCtrl')
	div(class = 'text-center white-wrap')
		table(class = 'table game-list')
			tr
				th #
				th Name
				th Created By
				th Players
				th Join

			tr(ng-repeat='game in gameList track by $index')
				td {{$index+1}}
				td {{game.name}}
				td {{game.creator}}
				td {{game.numPlayers}}
				td 
					a(href = "room")
						button(type = 'button', class = 'btn btn-danger btn-lg join-btn' id='{{game.name}}') Join

		a(href = "room")
			button(type = 'button', class = 'btn btn-danger btn-lg', id='create-btn') Create
		a(href = "/")
			button(type = 'button', class = 'btn btn-danger btn-lg', id='back-btn') Back