div(class = 'game-layer' id='room-screen')
	div(class = 'text-center white-wrap')
		table(class = 'table player-list')
			tr
				th #
				th Name

			tr(ng-repeat='player in playerList track by $index')
				td {{$index+1}}
				td {{player.name}}

		a(href = "game")
			button(type = 'button', class = 'btn btn-danger btn-lg', id='begin-btn', ng-show='creatorCheck') Begin
		a(href = "lobby")
			button(type = 'button', class = 'btn btn-danger btn-lg', id='leave-btn') Leave