div(class = 'container game-layer' id='room-screen' ng-controller='player-list-controller')
	div(class = 'row span12 text-center white-wrap')
		table(class = 'table player-list')
			tr
				th #
				th Name

			tr(ng-repeat='player in playerList track by $index')
				td {{$index+1}}
				td {{player.name}}

		button(type = 'button', class = 'btn btn-primary btn-lg', id='begin-btn', ng-show='creatorCheck') Begin
		button(type = 'button', class = 'btn btn-primary btn-lg', id='leave-btn') Leave