div(class = 'container game-layer' id='start-screen')
	div(id = 'start-game', class = 'span12 text-center splash-column')
		button(type = 'button', class = 'btn btn-primary btn-lg', id='start-btn') Start