div(class = 'game-layer' id='start-screen' ng-controller='roomCtrl')
	div(id = 'start-game', class = 'text-center')
		a(href = "lobby")
			button(type = 'button', class = 'btn btn-danger btn-lg', id='start-btn') Start
		a(href = "leaderboard")
			button(type = 'button', class = 'btn btn-danger btn-lg', id='leaderboard-btn') Leaderboard