!!! 5
html(lang='en' ng-app='monopoly-app')
	head
		title Monopoly
		link(rel='icon', type='image/png', href='/icons/lightbulb_icon48.png')

		meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0')  
		link(rel ='stylesheet', type='text/css', href='/css/bootstrap.min.css', media = 'screen')
		link(rel ='stylesheet', type='text/css', href='/css/bootstrap-responsive.min.css', media = 'screen')

		link(rel ='stylesheet', type='text/css', href='https://sdslabs.co.in/lollipop/topbarwide.css')

		link(rel ='stylesheet', type='text/css', href='/css/custom.css')

		script(src='/socket.io/socket.io.js')
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/angular.js')
		script(src='/js/angular-route.js')
		<!--Change to minified versions for production-->

		script(src='https://sdslabs.co.in/api/public/api.js')
		script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')

	body
		div(class = 'container game-layer' id='start-screen')
				div(id = 'start-game', class = 'span12 text-center splash-column')
					button(type = 'button', class = 'btn btn-primary btn-lg', id='start-btn') Start

		div(class = 'container game-layer' id='lobby-screen' ng-controller='game-list-controller')
			div(class = 'row span12 text-center white-wrap')
				table(class = 'table game-list')			
					tr
						th #
						th Name
						th Created By
						th Players
						th Join

					tr(ng-repeat='game in gameList track by $index')
						td {{$index+1}}
						td {{game.name}}
						td {{game.creator}}
						td {{game.numPlayers}}
						td 
							button(type = 'button', class = 'btn btn-primary btn-lg join-btn' id='{{game.name}}') Join

				button(type = 'button', class = 'btn btn-primary btn-lg', id='create-btn') Create
				button(type = 'button', class = 'btn btn-primary btn-lg', id='back-btn') Back

		div(class = 'container game-layer' id='room-screen' ng-controller='player-list-controller')
			div(class = 'row span12 text-center white-wrap')
				table(class = 'table player-list')			
					tr
						th #
						th Name

					tr(ng-repeat='player in playerList track by $index')
						td {{$index+1}}
						td {{player.name}}

				button(type = 'button', class = 'btn btn-primary btn-lg', id='begin-btn', ng-show='creatorCheck') Begin
				button(type = 'button', class = 'btn btn-primary btn-lg', id='leave-btn') Leave
		
		div(class = 'game-layer' id='game-screen')
			div(id='map-canvas')
				
		script(src='/js/maps.js')
		script(src='/js/main.js')
		script(type='text/javascript').
			$(window).load(function(){
			//init('http://#{locals.ip}:8080');
			monopoly.init();
				if(typeof topbar != 'undefined' && topbar != null){
					topbar.showTopbar();
				}
			});
