!!! 5
html(lang='en')
	head
		title Monopoly
		link(rel='icon', type='image/png', href='/icons/lightbulb_icon48.png')

		meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0')  
		link(rel ='stylesheet', type='text/css', href='/css/bootstrap.min.css', media = 'screen')
		link(rel ='stylesheet', type='text/css', href='/css/bootstrap-responsive.min.css', media = 'screen')

		<!--link(rel ='stylesheet', type='text/css', href='https://sdslabs.co.in/lollipop/topbarwide.css')-->

		link(rel ='stylesheet', type='text/css', href='/css/custom.css')

		script(src='/socket.io/socket.io.js')
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.min.js')
		
		<!--script(src='http://sdslabs.local/api/public/api.js')-->
		
	body
		div(class = 'container game-layer' id='start-screen')
				div(id = 'start-game', class = 'span12 text-center splash-column')
					button(type = 'button', class = 'btn btn-primary btn-lg', id='start-btn') Start
		div(class = 'container game-layer' id='lobby-screen')
			div(class = 'row span12 text-center')
				table(class = 'table')			
					tr
						th #
						th Name
						th Created By
						th Game Status
				button(type = 'button', class = 'btn btn-primary btn-lg', id='create-btn') Create
				button(type = 'button', class = 'btn btn-primary btn-lg', id='back-btn') Back
									

		script(src='/js/main.js')
		$(document).ready(function(){
		script(type='text/javascript').
			$(window).load(function(){
			//init('http://#{locals.ip}:8080');
			monopoly.init();
				if(typeof topbar != 'undefined' && topbar != null){
					topbar.showTopbar();
				}
			});
