doctype 5
html(lang='en')
	head
		title = Monopoly

		link(rel='icon', type='image/png', href='/icons/lightbulb_icon48.png')
		link(rel ='stylesheet', type='text/css', href='https://sdslabs.co.in/lollipop/topbarwide.css')
		link(rel ='stylesheet', type='text/css', href='/css/custom.css')
		
		script(src='/socket.io/socket.io.js')
		script(src='/scripts/jquery.js')
		script(src='/scripts/init.js');
		script(src='https://sdslabs.co.in/api/public/api.js')
		script(type='text/javascript').
			$('body').ready(function(){
				init();
				if(typeof topbar != 'undefined' && topbar != null){
					topbar.showTopbar();
				}
			});
	body
		h1 Client Side for Monopoly
		p  Currently only javascript exists. Created using a jade template