doctype html
html(lang='en' ng-app='monopoly-app')
	head
		title Monopoly
		link(rel='icon', type='image/png', href='images/icons/lightbulb_icon48.png')

		meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0')  
		script(src='/js/lib/jquery.min.js')

		link(rel ='stylesheet', type='text/css', href='/css/bootstrap.min.css', media = 'screen')
		link(rel ='stylesheet', type='text/css', href='/css/bootstrap-responsive.min.css', media = 'screen')
		link(rel ='stylesheet', type='text/css', href='https://sdslabs.co.in/lollipop/topbarwide.css', media = 'screen')

		link(rel ='stylesheet', type='text/css', href='/css/index.css')

		script(src='/socket.io/socket.io.js')
		script(src='/js/lib/bootstrap.min.js')
		script(src='/js/lib/angular.js')
		script(src='/js/lib/angular-route.js')
		<!--script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&region=IN')-->
		<!--Change to minified versions for production-->

		script(src='/js/m_G.js')
		script(src='/js/m_gMaps.js')
		script(src='/js/m_gDirections.js')
		script(src='/js/m_properties.js')
		script(src='/js/m_player.js')
		script(src='/js/m_graphics.js')
		script(src='/js/m_places.js')
		script(src='/js/m_angular.js')
		script(src='/js/m_socketio.js')
		script(src='/js/m_monopoly.js')

	body
		div(class = 'container game-layer' id='start-screen')
				div(id = 'start-game', class = 'span12 text-center splash-column')
					button(type = 'button', class = 'btn btn-primary btn-lg', id='start-btn') Start

		div(class = 'container game-layer' id='lobby-screen' ng-controller='game-list-controller')
			div(class = 'row span12 text-center white-wrap')
				table(class = 'table game-list')			
					tr
						th #
						th Name
						th Created By
						th Players
						th Join

					tr(ng-repeat='game in gameList track by $index')
						td {{$index+1}}
						td {{game.name}}
						td {{game.creator}}
						td {{game.numPlayers}}
						td 
							button(type = 'button', class = 'btn btn-primary btn-lg join-btn' id='{{game.name}}') Join

				button(type = 'button', class = 'btn btn-primary btn-lg', id='create-btn') Create
				button(type = 'button', class = 'btn btn-primary btn-lg', id='back-btn') Back

		div(class = 'container game-layer' id='room-screen' ng-controller='player-list-controller')
			div(class = 'row span12 text-center white-wrap')
				table(class = 'table player-list')			
					tr
						th #
						th Name

					tr(ng-repeat='player in playerList track by $index')
						td {{$index+1}}
						td {{player.name}}

				button(type = 'button', class = 'btn btn-primary btn-lg', id='begin-btn', ng-show='creatorCheck') Begin
				button(type = 'button', class = 'btn btn-primary btn-lg', id='leave-btn') Leave
		
		div(class = 'game-layer' id='game-screen')
			div(id='side-bar')
				div(id='player-controls')
				div(id='player-details' ng-controller='player-details-controller')
					div(id='money') Money
						p {{playerDetails.money}}
					div(id='properties') Properties
						p(ng-repeat='property in playerDetails.propertyList track by $index')
							span {{property.id}}
			div(id='map-canvas')		
			
		script(type='text/javascript').
			$(window).load(function(){
			monopoly.init('http://#{locals.ip}:#{locals.port}');
			});
