!!! 5
html(lang='en' ng-app='monopoly-app')
	head
		title Monopoly - Leaderboard

		link(rel='icon', type='image/png', href='/icons/lightbulb_icon48.png')

		link(rel ='stylesheet', type='text/css', href='/css/bootstrap.min.css', media = 'screen')
		link(rel ='stylesheet', type='text/css', href='/css/bootstrap-responsive.min.css', media = 'screen')

		script(src='/js/jquery.min.js')
	
		script(src='/js/angular.js')
		script(src='/js/angular-route.js')
	body
		script(id = 'score-table-template', type='text/x-jquery-tmpl').
			<tr>
				<td>${Name}
				<td>${Score}
			</tr>	
		div(class = 'container' )
			div(class = 'row span12 white-wrap' )
				div()
					table(class = 'table' id='score-table' ng-controller='table-controller')			
						tr
							th #
							th Name
							th Score
						tr(ng-repeat='result in results track by $index')
							td {{$index+1}}
							td {{result.name}}
							td {{result.score}}
		script(type='text/javascript').
			var results = [{name:'a', score: '5'}, {name:'a', score: '5'}, {name:'b', score: '5'}, {name:'c', score: '5'}, {name:'d', score: '5'}];
			var ctrl = angular.module('monopoly-app', []);
			ctrl.controller('table-controller', ['$scope', function($scope){
				$scope.results = results;
			}])






					