doctype html
html(lang='en')
	head
		title Monopoly - Leaderboard

		link(rel='icon', type='image/png', href='/icons/lightbulb_icon48.png')

		link(rel ='stylesheet', type='text/css', href='/css/bootstrap.min.css', media = 'screen')
		link(rel ='stylesheet', type='text/css', href='/css/bootstrap-responsive.min.css', media = 'screen')

		link(rel ='stylesheet', type='text/css' href='/css/leaderboard.css')
		link(rel ='stylesheet', type='text/css', href='https://sdslabs.co.in/lollipop/topbarwide.css', media = 'screen')

		script(src='/js/jquery.min.js')
		script(src='/js/jquery.tmpl.js')
		script(src='https://sdslabs.co.in/api/public/api.js')
	body
		script(id = 'score-table-template', type='text/x-jquery-tmpl').
			<tr>
				<td></td>
				<td>${Name}
				<td>${Score}
			</tr>	
		div(class = 'container' )
			div(class = 'row')
				div(id = 'title-main' class = 'span12 text-center')
					h1(class='text-danger') LEADERBOARD 
					small(class='text-success')
						em for the best game ever made!
			div(class = 'row' )
				div(class = 'span2 text-center')
				div(class = 'span8 text-center')
					table(class = 'table table-bordered table-hover table-striped' id='score-table')			
						tr
							th #
							th Name
							th Score
					p(class='text-muted' id='loading-alert') Loading! 
					p(class='text-info' id='loaded-alert') No more content to load! 

				div(class = 'span2 text-center')
		script(src='/js/leaderboard.js')








					