!!! 5
html(lang='en')
	head
		title Monopoly - Leaderboard

		link(rel='icon', type='image/png', href='/icons/lightbulb_icon48.png')

		link(rel ='stylesheet', type='text/css', href='/css/bootstrap.min.css', media = 'screen')
		link(rel ='stylesheet', type='text/css', href='/css/bootstrap-responsive.min.css', media = 'screen')

		link(rel ='stylesheet', type='text/css' href='/css/leaderboard.css')
		link(rel ='stylesheet', type='text/css', href='https://sdslabs.co.in/lollipop/topbarwide.css', media = 'screen')

		script(src='/js/jquery.min.js')
		script(src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js')
	body
		script(id = 'score-table-template', type='text/x-jquery-tmpl').
			<tr>
				<td>${Name}
				<td>${Score}
			</tr>	
		div(class = 'container' )
			div(class = 'row' )
				div(class = 'span2 text-center')
				div(class = 'span8 text-center')
					table(class = 'table table-bordered table-hover' id='score-table')			
						tr
							th Name
							th Score
				div(class = 'span2 text-center')
		script(type='text/javascript').
			$.post('/leaderboard', function(data){
					var obj = JSON.parse(data);
					console.log(obj.results);
					$('#score-table-template').tmpl(obj.results).appendTo('#score-table tbody');
				});





					